VUE_APP_ENV='dev'

# DEV
VUE_APP_FIREBASE_API_KEY_DEV=''
VUE_APP_FIREBASE_AUTH_DOMAIN_DEV=''
VUE_APP_FIREBASE_PROJECT_ID_DEV=''
VUE_APP_FIREBASE_STORAGE_BUCKET_DEV=''
VUE_APP_FIREBASE_MESSAGING_SENDER_ID_DEV=''
VUE_APP_FIREBASE_APP_ID_DEV=''
VUE_APP_FIREBASE_MEASUREMENT_ID_DEV=''
VUE_APP_API_BASE_URL_DEV=''
VUE_APP_RUXAILAB_URL_DEV=''

# PROD
VUE_APP_FIREBASE_API_KEY_PROD=''
VUE_APP_FIREBASE_AUTH_DOMAIN_PROD=''
VUE_APP_FIREBASE_PROJECT_ID_PROD=''
VUE_APP_FIREBASE_STORAGE_BUCKET_PROD=''
VUE_APP_FIREBASE_MESSAGING_SENDER_ID_PROD=''
VUE_APP_FIREBASE_APP_ID_PROD=''
VUE_APP_FIREBASE_MEASUREMENT_ID_PROD=''
VUE_APP_API_BASE_URL_PROD=''
VUE_APP_RUXAILAB_URL_PROD=''
